<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/applicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--<servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/WEB-INF/view/index.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-nSighInPageRedirectControllerghIn</servlet-name>
        <jsp-file>/WEB-INF/view/sighIn.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-nSighUpPageRedirectControllerghUp</servlet-name>
        <jsp-file>/WEB-INF/view/sighUp.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/WEB-INF/view/admin.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>Customer</servlet-name>
        <jsp-file>/WEB-INF/view/customer.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>AdminPrivateOffice</servlet-name>
        <jsp-file>/WEB-INF/view/adminPrivateOffice.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>BuyingPage</servlet-name>
        <jsp-file>/WEB-INF/view/buyingPage.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>PasswordRecovery</servlet-name>
        <jsp-file>/WEB-INF/view/passwordRecovery.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <jsp-file>/WEB-INF/view/resetPassword.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-patteMainPageRedirectControllerPage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-nSighInPageRedirectControllerghIn</servlet-name>
        <url-pattern>/sighIn</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-nSighUpPageRedirectControllerghUp</servlet-name>
        <url-pattern>/sighUp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminPrivateOffice</servlet-name>
        <url-pattern>/adminPrivateOffice</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BuyingPage</servlet-name>
        <url-pattern>/buyingPage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PasswordRecovery</servlet-name>
        <url-pattern>/passwordRecovery</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/pageNotFound.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/view/errorOccurredPage.jsp</location>
    </error-page>

</web-app>
